.card{
    width: 25%;
    height: 500px;
    background-color: white;
    box-shadow: 0 5px 5px 5px #888888;
}

.applicant-info{
    margin: 10px;
}

.applicant-bio{
    margin-top: 10px;
    width: 350px;
}
